/* Colors */
$brand-color: #fed136;
$hover-brand-color: #d4af37;
$title-color: #222;
$title-secondary-color: #fff;
$paragraph-color: #777;
$disabled-color: #f9f9f9;
$main-menu-color: #222;

/* Fonts */
$logo-font: 'Dancing Script', cursive;
$title-font: 'Montserrat', sans-serif;
$italic-description: 'Merriweather', serif;
$paragraph-font: 'Roboto Slab', serif;

/* Font sizes */
$logo-font-size: 26px;
$menu-font-size: 14px;
$brand-title: 39px;
$main-title: 72px;
$main-button-size: 17px;
$section-title: 38px;
$description-size: 15px;
$small-title: 18px;
$paragraph-size: 14px;
$name-size: 16px;
$form-size: 14px;



