@media (min-width: 768px) {
    .contact-container {
        height: 700px;
        .contact-image {
            position: absolute;
            margin-top: 140px;
            margin-left: 780px;
        };
        .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
                    .column {
                        
                        margin: 0 15px;
                        display: flex;
                        flex-direction: column;
                        .field {
                            width: 460px;
                            margin: 15px 0;
                            font-size: $form-size;
                            font-weight: 700;
                            font-family: $title-font;
                            text-transform: uppercase;
                            padding: 15px;
                            border-radius: 5px;
                            &::placeholder {
                                color: $paragraph-color;
                                opacity: 0.5;
                            };
                        };

                    };
                    .area {
                        width: 460px;
                        margin: 15px 15px;
                        border-radius: 5px;
                        font-size: $form-size;
                        font-weight: 700;
                        font-family: $title-font;
                        text-transform: uppercase;
                        padding: 15px;
                        border-radius: 5px;
                        &::placeholder {
                            color: $paragraph-color;
                            opacity: 0.5;
                        };
                    };
        };

        .white-font {
            color: $title-secondary-color;
        }

        .button-space {
            margin-top: 20px;
        };

    };
};

@media (max-width: 767px) {
    .contact-container {
        height: 700px;
        .contact-image {
            position: absolute;
            margin-top: 140px;
            margin-left: 780px;
        };
        .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
                    .column {
                        
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        .field {
                            width: 300px;
                            margin: 15px 0;
                            font-size: $form-size;
                            font-weight: 700;
                            font-family: $title-font;
                            text-transform: uppercase;
                            padding: 15px;
                            border-radius: 5px;
                            &::placeholder {
                                color: $paragraph-color;
                                opacity: 0.5;
                            };
                        };

                    };
                    .area {
                        width: 300px;
                        margin: 15px auto;
                        border-radius: 5px;
                        font-size: $form-size;
                        font-weight: 700;
                        font-family: $title-font;
                        text-transform: uppercase;
                        padding: 15px;
                        border-radius: 5px;
                        &::placeholder {
                            color: $paragraph-color;
                            opacity: 0.5;
                        };
                    };
        };

        .white-font {
            color: $title-secondary-color;
        }

        .button-space {
            margin-top: 20px;
        };

    };
};