@media(min-width: 992px) {
    .home {
        width: 100%;
        background: #000;
        position: relative;
            img {
                opacity: 50%;
                width: 100%;
                max-width: 1400px;
                max-height: 700px;
                display: block;
                margin: 0 auto;
            };
    
            .tint {
                background: #000;
                opacity: 0.5;
            };
            
            .brand-title {
                width: 100%;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
            };
    };
};

@media (min-width: 768px) and (max-width: 991px) {
    .home {
    width: 100%;
    background: #000;
    position: relative;
        img {
            opacity: 50%;
            width: 100%;
            max-width: 1400px;
            max-height: 700px;
            display: block;
            margin: 0 auto;
        };

        .tint {
            background: #000;
            opacity: 0.5;
        };
        
        .brand-title {
            width: 100%;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2 {
                font-size: 35px;
            };
            .pre-heading {
                font-size: 25px;
            };
        };
    };
};


@media(max-width: 767px) {
    .home {
        display: none;
    };
};
